<h2> <%= @player.name %> </h2>

<h3> <%= "Team: #{Team.where(id: @player.teamId).first.team_name}" %> </h3>
<h3> <%= "Jersey: #{@player.jersey_number}" %> </h3>
<h3> <%= "Position: #{@player.position}" %> </h3>
