<h2><%= @coach.name %></h2>

<h3><%= "Team: #{Team.where(id: @coach.teamId).first.team_name}" %></h3>
<% if @coach.isHeadCoach %>
  <h3>Coaching Position: Head</h3>
<% else %>
  <h3>Coaching Position: Assistant</h3>
<% end %>
<h3><%= "College Coached At: #{@coach.college}" %></h3>